<div class="actions">
    <button mat-icon-button  routerLink="add">
        <mat-icon>add</mat-icon>
        Добавить мероприятие
    </button>
    <button mat-icon-button (click)="update()">
        <mat-icon>update</mat-icon>
        Обновить список
    </button>
</div>
<router-outlet></router-outlet>
<mat-grid-list gutterSize="20" cols="5" rowHeight="280px">
    <mat-grid-tile
      *ngFor="let meetup of meetupList"
      class="isp-event"
    >
        <app-meetup 
        [meetup]="meetup"
        (delete)="deleteEvent($event)"
        
        ></app-meetup>
    </mat-grid-tile>
  </mat-grid-list>