<mat-card class="event__card">
  <mat-card-header>
    <mat-card-title class="event__card-title">{{meetup.date | date: "d MMMM"}}</mat-card-title>
    <mat-card-subtitle>{{meetup.address}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="event__card-text">{{meetup.description}}</p>
  </mat-card-content>
  <mat-card-actions class="event__card-actions">
    <mat-chip-list>
      <ng-container>
        <button mat-icon-button [routerLink]="meetup.id">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteEvent()">
            <mat-icon>delete</mat-icon>
          </button>
      </ng-container>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>