:host {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    display: table;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover{
        box-shadow: 0 0 5px 2px rgb(107, 107, 107);
    }
}
