.isp-footer {
  display: flex;
}
.isp-footer__row {
  display: flex;
  justify-content: center;
  color: gray;
}
.isp_footer__placeholder {
  display: block;
  height: 64px;
}
.isp-content {
  min-height: calc(100vh - 128px);
  margin: 1%;
}
.isp-logo {
  margin: 0;
  min-width: 111px;
  height: 40px;
  border-radius: 4px;
}
.isp-logo__img {
  object-fit: contain;
  object-position: center;
}
.isp-title {
  display: block;
  width: 100%;
  text-align: center;
}


