<header>
  <mat-toolbar color="primary">
    <a
      mat-button
      class="isp-logo"
      routerLink='/'
    >
      <img
        class="isp-logo__img"
        src="/assets/images/isp_logo.svg"
        alt="go to main page"
      >
    </a>
    <div class="isp-title">
      <h1>Конференции и мероприятия ISPsystem</h1>
    </div>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="about">О нас</button>
        <button mat-menu-item routerLink="meetup">Мероприятия</button>
    </mat-menu>
      
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main class="isp-content">
  <router-outlet></router-outlet>
</main>

<footer>
  <mat-toolbar class="isp-footer">
    <mat-toolbar-row class="isp-footer__row">
      <h3>ISPsystem ©, 2019</h3>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
