<form [formGroup]="createForm" (submit)="onSubmit()" >
    <mat-card>
    <div>
        <h3>Add event</h3>
    </div>
    <mat-form-field class="create-event__field">
        <input
          matInput
          placeholder="Name"
          type="text"
          formControlName="name">
    </mat-form-field>
    <mat-form-field class="create-event__field">
        <textarea
          matInput
          placeholder="Description"
          type="text"
          formControlName="description">
        </textarea>
        <mat-error *ngIf="desc.errors?.minlength">Описание должно содержать хотя бы 10 символов.</mat-error>
        </mat-form-field>
    <mat-form-field class="create-event__field">
        <input
          matInput
          placeholder="Address"
          type="text"
          formControlName="address">
      </mat-form-field>
      <mat-form-field class="create-event__field">
        <input
          matInput
          placeholder="Date"
          type="date"
          formControlName="date">
      </mat-form-field>
      <div>
          <mat-checkbox formControlName="published">Publish meetup</mat-checkbox>
      </div>

      <mat-card-actions>
          <button mat-flat-button [disabled]="createForm.invalid" type="submit" >Сохранить</button>
      </mat-card-actions>
    </mat-card>
</form>