:host{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 4px 2px rgb(170, 170, 170);
    z-index: 1;
    border: rgb(10, 90, 194) 2px solid;
    border-radius: 15px;
    display: block;
    margin: auto 30%;
    width: 400px;
    text-align: center;
}
form > * {
    margin: 5%;
}


h3{
    text-align: center;
}